@import "tailwindcss";
@import "keep-react/css";

@source "../node_modules/keep-react/lib";

@theme {
  --color-metal-100: #e9eff6;
  --color-metal-200: #d7dfe9;
  --color-metal-300: #afbaca;
  --color-metal-700: #3d4a5c;
  --color-metal-800: #2d3643;
  --color-primary-500: #1b4dff;
  --font-size-body-4: 0.875rem;
}

@theme inline {
  --font-sans: var(--font-bricolage);
}

body{
  background-color: #fff;
}
button{
  cursor: pointer;
}

/* humberger menu styles */
/* From Uiverse.io by Cevorob */ 
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}